.answer-question-detail-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre a bolinha e o texto */
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #f0f0f0;
    margin: 5px 0;
  }
  
  label:hover {
    background-color: #e0e0e0;
  }
  
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  input[type="radio"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
  }
  
  input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(76, 175, 80, 0.5);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:focus {
    outline: none;
  }
  
  p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  .question-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .question-card h4 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .question-card p {
    font-size: 1rem;
    color: #666;
  }
  .go-back-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
  }
  
  .go-back-button:hover {
    background-color: #45a049;
  }
  
  .go-back-button:focus {
    outline: none;
  }
  