.answer-questions-page {
    padding: 20px;
    max-width: 50%;
    align-content: center;
    margin: 0 auto;
  }
  
  .question-card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .question-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Garantir que o título da pergunta seja escuro */
  }
  
  .answer-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    
    border-radius: 5px;
  }
  
  .answer-button:hover {
    background-color: #0056b3;
  }
  
  .questions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    margin: 5px 0;
  }
  